ion-content {
  --background: rgba(var(--cdc, 255, 255, 255), 1);

  .sign_in_page_wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login_content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px;
      h1 {
        img {
          max-width: 50%;
        }
      }

      ion-input {
        border-radius: 5px;
        background: #fafafa;
        margin-bottom: 12px;
        border: 1px solid #e4e3e3;
        color: #a1a1a1;
        --padding-start: 5px;
        --placeholder-color: #6b6464 !important;
        --placeholder-font-size: 12px;
      }

      ion-button {
        width: 100%;
        min-height: 42px;
        ion-icon {
          color: #fff !important;
        }
        button {
          border-radius: 7px !important;
        }
      }

      p,
      h5 {
        color: #939393;
      }

      h5 {
        font-size: 15px;
      }

      p {
        font-size: 11.5px;
        a {
          text-decoration: none;
        }
      }

      h5::before,
      h5::after {
        display: inline-block;
        content: "";
        border-top: 0.5px solid #939393;
        width: 5rem;
        margin: 0 1rem;
        transform: translateY(-4px);
      }
    }
  }
}

ion-footer {
  border-top: 1px solid #efefef !important;
  ion-toolbar {
    p {
      font-size: 13px;
      line-height: 14px;
      margin: 0;
    }
  }
}
